.main {
  @apply mt-16;

  .main-container {
    @apply flex;

    .main-left-content {
      h1 {
        @apply text-5xl max-w-3xl font-[600];
        line-height: 1.2;
        font-family: "Playfair Display", serif;
        font-family: "Roboto Condensed", sans-serif;
        font-family: "Roboto Slab", serif;
      }

      ul {
        @apply mt-16 flex  items-center gap-3;
        li {
          @apply text-[13px] flex items-center gap-3 text-gray-200;
        }
      }
    }

    .main-call {
      @apply mt-16;

      .main-call-text {
        @apply text-gray-200 text-[15px] ;
      }

      .btn-wrap {
        @apply mt-5;
      }
    }
  }
}
