.popular {
  .popular--container {
    > h1 {
      font-family: "Playfair Display", serif;
      font-family: "Roboto Condensed", sans-serif;
      font-family: "Roboto Slab", serif;
      font-weight: 600;
    }

    .popular__wrap {
        @apply grid grid-cols-4 gap-4 p-5;
    }

    .popular__content {
      @apply hover:bg-[#1C1C1F] p-2 mt-12 hover:scale-110  pt-2 transition-all gap-3 m-10 rounded-[10px];
      width: fit-content;

      &:hover {
        box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1),
          0px var(--card-hover-box-shadow-2-y)
            var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2),
          0 0 0 1px var(--card-hover-border-color);
      }

      .popular__btn {
        @apply flex justify-center ml-2;
      }
    }
  }
}
h3 {
  font-family: "Playfair Display", serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin-top: 10px;
}

p {
  color: var(--text-color);
  margin-bottom: 10px;
}

