.headerReview {
  display: felx;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  h1 {
    text-align: center;
    font-size: 36px;
  }
}

.ReviewLayout {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerdiv {
  transform: scale(0.9);
  margin: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(4, 17rem);
}
.eachdiv {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(38, 255, 0, 0.3);
  overflow: hidden;
}
.div1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.div2 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.div3 {
  grid-column: 4/5;
  grid-row: 1/3;
}
.div4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.div5 {
  grid-column: 2/4;
  grid-row: 2/3;
}
.userdetails {
  display: flex;
}
.imgbox {
  margin-right: 1rem;

  img {
    border-radius: 50%;
    width: 2rem;
    border: 2px solid #cec5c5;
  }
}
.detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0;
  }
  .name {
    color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;

    .dark {
      color: #49505a;
    }
    .designation {
      color: hsl(0, 0%, 81%);
      opacity: 50%;
      font-size: 0.8rem;

      .dark {
        color: #49505a;
      }
    }
  }
  .review {
    h4 {
      font-size: 1.4rem;
      color: #f3deff;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 0.8rem;
    }

    .dark {
      h4 {
        color: #4b5258;
      }
      p {
        color: #0e0e0e;
      }
    }
    p {
      font-size: 0.95rem;
      color: #f3deff;
      font-weight: 500;
      opacity: 50%;
      line-height: 1.5;
    }
  }
}
.attribution {
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}
.attribution a {
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .innerdiv {
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 800px) {
  .innerdiv {
    transform: scale(0.6);
  }
}
@media only screen and (max-width: 600px) {
  .div1 {
    background-position-x: 10rem;
  }
  .innerdiv {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .attribution {
    position: relative;
  }
}
