.carouserWrapper {
  margin-top: 5rem;

  h1 {
    color: white;
    text-align: center;
    font-size: 36px;
  }
}

.carouselContainer {
  margin: 5rem auto;
  overflow: hidden;
}

.carouselItemBody {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #16a34a;
  border-radius: 0.5rem;
  padding: 1rem;
}
